@media (max-width: 767px) {
    #tech-sharing-menu {
        position: fixed;
        z-index: 1000;
        width: 80%;
        height: 100%;
        overflow-y: auto;
        background-color: #fff; /* Or your preferred background color */
    }
    .collapse.show {
        display: block;
    }
}

.container-fluid {
    padding-left: 0 !important;
}

.tech-sharing-row {
    min-height: 90vh; /* 100% of the viewport height */
    margin: 0; /* Reset default margin */
}

#tech-sharing-menu {
    background-color: rgb(231, 233, 235);
    padding-top: 10px;
}

a.tech-sharing-title-link.nav-link:hover {
    background-color: rgb(66, 190, 66);
}

a.selected {
    background-color: rgb(66, 190, 66);
}

a.tech-sharing-title-link.nav-link {
    color: #000;
}

.dark-theme a.tech-sharing-title-link.nav-link {
    color: #fff;
}

.dark-theme #tech-sharing-menu {
    background-color: #1d1e22;
    border-right: 1px solid #fff;
    color: #fff;
}

#tech-sharing-content {
    padding-top: 10px;
}

#tech-sections-menu {
    border-left: 1px solid #000; /* Adjust color (#000 is black) and width as needed */
    padding-top: 10px;
}

.dark-theme #tech-sections-menu {
    border-left: 1px solid #fff; /* Adjust color (#000 is black) and width as needed */
    height: 100%; /* Make sure it takes full height */
}

a.tech-sections-menu-link.nav-link {
    color: #000;
}

.dark-theme a.tech-sections-menu-link.nav-link {
    color: #fff;
}

a.tech-sections-menu-link.nav-link:hover {
    background-color: rgb(66, 190, 66);
}

#tech-sections-menu, #tech-sharing-menu {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px; /* Adjust based on your header/nav height */
}

/* Indented and smaller style for h3 items */
.h3-style {
    font-size: 14px; /* Smaller font size */
    margin-left: 20px; /* Indentation */
}

tbody, td, tfoot, th, thead, tr {
    border-width: 1px !important;
}