{% extends "base.html" %}

{% block title %}Contacts - ngoctu125.com{% endblock title %}

{% block content %}
<section class="contacts py-md-5 py-4" id="contacts">
    <div class="container py-md-5 py-4">
    <div class="divider-shape"></div>
    <h2>Contacts</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card card-contacts" onclick="window.location.href='{{ contacts.contacts_facebook }}';" style="cursor: pointer;">
                <div class="card-body d-flex justify-content-between">
                    <h4 class="nav-link card-dark-title">Facebook</h4>
                    <i class="ri-facebook-line fs-2"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card card-contacts" onclick="window.location.href='{{ contacts.contacts_instagram }}';" style="cursor: pointer;">
                <div class="card-body d-flex justify-content-between">
                    <h4 class="nav-link card-dark-title">Instagram</h4>
                    <i class="ri-instagram-line fs-2"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card card-contacts" onclick="window.location.href='{{ contacts.contacts_linkedln }}';" style="cursor: pointer;">
                <div class="card-body d-flex justify-content-between">
                    <h4 class="nav-link card-dark-title">Linkedln</h4>
                    <i class="ri-linkedin-box-fill fs-2"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}