<!-- home.html -->
{% extends "base.html" %}

{% block title %}Home - ngoctu125.com{% endblock title %}

{% block content %}
    <section class="header" id="header">
        <div class="intro py-md-5 py-4">
        <div class="container py-md-5 py-4">
            <div class="row">
            <div class="col-md">
                <div class="divider-shape"></div>
                <h1 class="my-5">{{ home_texts.home_intro }}</h1>
            </div>
            <div class="col-md"></div>
            </div>
        </div>

        </div>
        <div class="intro-cards">
        <div class="container">
            <div class="row">
            <div class="col-md-4 mb-md-0 mb-2">
                <div class="card shadow-sm">
                <div class="card-body">
                    <i class="ri-rocket-fill ri-3x mb-5"></i>
                    <h3 class="card-title">About me</h3>
                    <div class="divider-shape"></div>
                    <p class="card-text">{{ home_texts.home_about }}</p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-2">
                <div class="card shadow-sm">
                <div class="card-body">
                    <i class="ri-pie-chart-2-fill ri-3x mb-5"></i>
                    <h3 class="card-title">Tech Sharing</h3>
                    <div class="divider-shape"></div>
                    <p class="card-text">{{ home_texts.home_tech_sharing }}</p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-2">
                <div class="card shadow-sm" onclick="window.location.href='https://github.com/Ngoc-Tu-125';" style="cursor: pointer;">
                <div class="card-body">
                    <i class="ri-github-line ri-3x mb-5"></i>
                    <h3 class="card-title">Github</h3>
                    <div class="divider-shape"></div>
                    <p class="card-text">{{ home_texts.home_github_repo }}</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <section class="services py-md-5 py-4" id="services">
        <div class="container py-md-5 py-4">
        <div class="divider-shape"></div>
        <h2>Tech sharing</h2>
        <p>This is all of the tech sharing sections.</p>
        <div class="row mt-4">
            {% for tech_topic in tech_topics %}
            <div class="col-sm-4">
                <div class="card shadow-sm" onclick="location.href='{% url 'tech_sharing_by_topic' tech_topic.slug %}';" style="cursor: pointer;">
                    <div class="card-body d-flex justify-content-between">
                    <h4 class="nav-link card-title">{{ tech_topic.title }}</h4>
                    <i class="ri-arrow-right-line fs-2"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </section>
    <section class="about py-md-5 py-4" id="about">
        <div class="container py-md-5 py-4">
        <div class="row">
            <div class="col-6">
            <div class="divider-shape mb-2"></div>
            <h2>Github</h2>
            <p>This is my Github repositories.</p>
            </div>
        </div>
        <div class="row">
            {% for repo in github_repos %}
                <div class="col-md-4 mb-3">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">{{ repo.name }}</h5>
                            <p class="card-text">{{ repo.description }}</p>
                            <a href="{{ repo.html_url }}" class="btn btn-primary btn-git-view">View on GitHub</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </section>
    <section class="footer-cta py-md-5 py-4" id="footer-cta">
        <div class="container py-md-5 py-4">
        <div class="row">
            <div class="col-md-4  d-md-flex align-items-center">
                <ul class="list-unstyled">
                    <li class="d-inline pe-2">
                        <a href="{{ contacts.contacts_facebook }}" class="btn btn-main">
                            <i class="ri-facebook-line ri-3x"></i>
                        </a>
                    </li>
                    <li class="d-inline pe-2">
                        <a href="{{ contacts.contacts_instagram }}" class="btn btn-main">
                            <i class="ri-instagram-line ri-3x"></i>
                        </a>
                    </li>
                    <li class="d-inline pe-2">
                        <a href="{{ contacts.contacts_linkedin }}" class="btn btn-main">
                            <i class="ri-linkedin-box-fill ri-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 d-flex justify-content-center  align-items-center  my-md-0 my-3">
            <h2>Let's Connect</h2>
            </div>
            <div class="col-md-4 d-md-flex justify-content-end  align-items-center">
            <a href="{% url 'contacts' %}" class="btn btn-main btn-lg">Let Me Connect!</a>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}