{% extends "base.html" %}

{% block title %}Tech Sharing - ngoctu125.com{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/tech_sharing/tech_sharing_styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script src="{% static 'js/tech_sharing/tech_sharing_js.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<section class="tech-sharing py-md-0 py-4" id="tech-sharing">
    <div class="container-fluid">
        <div class="row tech-sharing-row">
            <!-- Conditionally Display Left Column Menu If Posts Exist -->
            {% if tech_sharing_posts.exists %}
                <div class="col-md-3 col-lg-2 collapse d-md-block" id="tech-sharing-menu">
                    <div class="sticky-top">
                        <nav class="nav flex-column">
                            {% for post in tech_sharing_posts %}
                                <a class="tech-sharing-title-link nav-link" href="javascript:void(0);" onclick="loadPostContent('{{ topic.slug }}', '{{ post.slug }}', this)">{{ post.title }}</a>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            {% endif %}

            <!-- Center Column: Content Display -->
            <div class="col-12 col-md-9 col-lg-8" id="tech-sharing-content">
                <article>
                    <h1>Don't have any topic</h1>
                    <p>There are no tech sharing topics available at the moment. Please check back later.</p>
                </article>
            </div>

            <!-- Right Column: Sections/Index Menu (Displayed Only If Posts Exist) -->
            <div class="col-lg-2 d-none d-lg-block" id="tech-sections-menu">
                <div class="sticky-top">
                    <ul id="sections-list" class="nav flex-column">
                        <li class="nav-item">1. Introduction (Placeholder)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/tech_sharing/auto_load_first_post.js' %}"></script>

{% endblock content %}
